extends ../layout/main-layout.pug

block content
  .container
    .row.justify-content-center
      .col-md-6
        // Error message
        if errorMessage
          div.alert.alert-danger.text-center= errorMessage
        
        // Password reset form
        form(action="/account/reset-password" method="POST")
          input(type="hidden" name="_csrf" value=csrfToken)

          .card
            .card-body
              h4.card-title.text-center Reset Your Password

              .form-group
                label(for="email") Email
                input.form-control#email(type="text" name="email" placeholder="Enter your email")

              .form-group.text-center
                input(type="submit" value="Submit").btn.btn-primary.btn-block

            .card-footer.text-center
              a(href="/account/login" class="btn btn-link p-0") Back to Login
